#ifndef __DEFINE__
#define __DEFINE__

#define MY_SSID "WIFI_SSID"
#define MY_SSID_PASS "password"

#define EZIL_WALLET "0xAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA.zilBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB"

#endif
